<h1>Listing applications</h1>

<table>
  <tr>
    <th>Title</th>
    <th>Description</th>
    <th>Version</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<%= render :partial => "application", :collection => @applications %>
</table>

<br />

<%= link_to 'New Application', new_application_path %>
