<div id='tool_bar'>

<ul>
<li><%= link_to 'New application', new_user_applications_path( @current_user ) %></li>
<li><%= link_to 'Show applications', user_applications_path( @current_user ) %></li>
</ul>

</div>
